.webgl {
  background: #222326;
}

.flex {
  display: flex;
  align-items: center;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

// right
.right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background: #3c3c3c;
  border-left: 1px solid #3c3c3c;
}
.dir {
  width: 350px;
  height: 300px;
  color: #fff;
  overflow: hidden;
  // padding: 0 6px;
  border-bottom: 1px solid #fff;
  .scene_tab {
    display: flex;
    align-items: center;
    .scene_act {
      background: #f1f3f4;
    }
  }
  .scene {
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #fff;
    width: 100px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
  }
  .dir_con {
    height: 230px;
    background: #f1f3f4;
    overflow: auto;
    color: #666;
    font-size: 12px;
    padding: 15px 20px 15px 0;
    ul {
      padding-left: 14px;
      margin-top: 0;
      cursor: pointer;
      li {
        list-style: none;
        white-space: nowrap;
        padding: 4px;
      }
    }
    .active {
      background: #cdcdd6;
    }
    .type {
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #ddd;
      text-align: center;
      border-radius: 50%;
      margin-right: 5px;
    }
    .type_u {
      margin-left: 5px;
    }
    .Object3D {
      background: #aaaaee;
    }
    .Geometry {
      background: #aaeeaa;
    }
    .Material {
      background: #eeaaee;
    }
    .Mesh {
      background: #8888ee;
    }

    .opener {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 0px 4px;
      vertical-align: top;
      text-align: center;
      padding: 4px;
      color: #666;
      white-space: nowrap;
    }
    .opener.open:after {
      content: "−";
    }
    .opener.closed:after {
      content: "+";
    }
  }
}

.obj {
  margin-top: 1px;
  height: calc(100% - 300px);
  .obj_con {
    height: calc(100% - 73px);
    padding: 15px 20px;
  }
  .obj_row {
    min-height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
    border-bottom: 1px dashed #e2e1e1;

    .row_tit {
      width: 100px;
    }

    .row_con {
      display: flex;
      align-items: center;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      span {
        flex: 1;
        color: #6b6bee;
        font-weight: 600;
      }
      .checkbox {
        border: 1px solid transparent;
        color: #444;
        margin-right: 5px;
      }
      .number {
        width: 50px;
        background-color: transparent;
        cursor: ns-resize;
        outline: none;
        border: 1px solid #6b6bee;
      }
    }

    .col_con {
      align-items: flex-start;
      padding-top: 3px;
      p {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 20px;
        span {
          width: 100px;
        }
      }
    }
  }

  .geo {
    .obj_row {
      align-items: flex-start;
    }
  }

  .scene {
    // background: #f1f3f4;
  }
}
